*{
    text-align: center;
}
header{
    font-size: 1.6em;
}
nav{
    height: 60px;
    width: 700px;
    background-color: bisque;
    margin-left: 375px;
    margin-top: 25px;
    padding-top: 30px;
}
main{
    height: 400px;
    width: 700px;
    background-color: bisque;
    margin-left: 375px;
}
footer{
    font-size: small;
    padding-top: 175px;
    margin-left: 45px;

}
.cn{
    cursor: pointer;
}
.cn.selected{
    color:white;
}
